{% extends 'auth/base.html' %}
{% block content %}
  <h4 class="mb-2">Set New Password</h4>
  <form id="formAuthentication" class="mb-3" method="POST">
    {% csrf_token %}
    <input type="hidden" name="uidb64" value="{{ uidb64 }}"><br>
    <input type="hidden" name="token" value="{{ token }}"><br>
    <input type="password" name="new_password1" placeholder="New Password" required><br><br>
    <input type="password" name="new_password2" placeholder="Confirm New Password" required><br><br>
    <button class="btn btn-primary d-grid w-100" type="submit">Set Password</button>
  </form>
  {% if messages %}
    <div class="alert alert-info">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
